<template color="primary" wrap>
<!--  -->
<v-container class="font-weight-thin font-italic">
  <v-layout column fill-height justify-center>
    <v-toolbar flat id="br_toolbar" wrap>  
      <v-btn @click="drawer = !drawer" flat class="hidden-lg-and-up hidden-sm-and-down" style="height:85px">
        <v-icon style="font-size: 85px;">mdi-menu</v-icon></v-btn>        
      <v-layout column wrap justify-center align-center>            
        <v-toolbar-title class="headName">      
              Batenov Alex
              photographer              
        </v-toolbar-title>
        <v-toolbar-items class="tool-items hidden-md-and-down">
          <v-layout row justify-center align-center class="tool-items-layout">
            <v-btn block flat :to="{ name: 'catalog', params: { tag: 'wedding'}}" class="tool-items-btn">wedding</v-btn>
            <v-btn block flat :to="{ name: 'catalog', params:{ tag: 'portrait'}}" class="tool-items-btn">family and portrait</v-btn>
            <v-btn block flat to="/contacts" class="tool-items-btn">contacts</v-btn>
          </v-layout>
        </v-toolbar-items>
      </v-layout>
    </v-toolbar>
    <v-navigation-drawer v-model="drawer" absolute temporary width="500">
      
      <v-list style="margin-top:50px">  
        <v-list-tile :to="{ name: 'index' }" class="br-list-item">          
          <v-list-tile-action>      
              <v-icon x-large>mdi-home</v-icon>        
          </v-list-tile-action>          
          <v-list-tile-content>
            <v-list-tile-title>Home</v-list-tile-title>
          </v-list-tile-content>
        </v-list-tile>

        <v-divider></v-divider>
        
        <v-list-tile :to="{ name: 'catalog', params:{ tag: 'wedding'}}" class="br-list-items">
          <v-list-tile-action>
            <v-icon  x-large>mdi-human-male-female</v-icon>
          </v-list-tile-action>
          <v-list-tile-content>       
            <v-list-tile-title>Wedding</v-list-tile-title>            
          </v-list-tile-content>     
        </v-list-tile>    
        
        <v-list-tile :to="{ name: 'catalog', params:{ tag: 'portrait'}}" class="br-list-items">
          <v-list-tile-action><v-icon  x-large>mdi-human-greeting</v-icon>
          </v-list-tile-action>
          <v-list-tile-content>
            <v-list-tile-title>Portraits</v-list-tile-title>            
          </v-list-tile-content> 
        </v-list-tile>    
           
        <v-list-tile :to="{ name: 'catalog', params:{ tag: 'events'}}" class="br-list-items">
          <v-list-tile-action><v-icon  x-large>mdi-account-group</v-icon>
          </v-list-tile-action>
          <v-list-tile-content>
            <v-list-tile-title>Events</v-list-tile-title>            
          </v-list-tile-content>     
        </v-list-tile>  
      
        <v-list-tile to="/contacts" class="br-list-items">
          <v-list-tile-action><v-icon  x-large>mdi-contacts</v-icon>
          </v-list-tile-action>
          <v-list-tile-content>
            <v-list-tile-title>Contacts</v-list-tile-title>            
          </v-list-tile-content>     
      </v-list-tile>    

    </v-list>      
    </v-navigation-drawer>

    <router-view id="componentsField" default="{ name: 'index'}"></router-view>

    <v-layout row justify-center align-right class="hidden-md-and-down">
    <v-btn flat><v-icon>mdi-facebook-box</v-icon></v-btn>
    <v-btn flat><v-icon>mdi-whatsapp</v-icon></v-btn>
    <v-btn flat><v-icon>mdi-instagram</v-icon></v-btn>
    <v-btn flat><v-icon>mdi-vk</v-icon></v-btn>
    <v-btn flat><v-icon>mdi-telegram</v-icon></v-btn>  
    </v-layout>
  </v-layout>
</v-container>
</template>
<script>
export default
{
  name: 'app',
  data()
  {
    return {
      title: "Title",
      drawer: false
    }
  },
  methods: {
    test: function()
    {
      this.title = "hello!"
    }
  },
  watch:{
    drawer : function(v){
      //debugger;
    }
  }
}
</script>
<style>

body {
   font-family: 'Open Sans', sans-serif; 
   font-weight: 100;   
} 

h1, h2, h3 {  
}

.title_text {
  text-decoration: none;
  color: black;
}

.tool-items {
  width: 100%;
  padding: 0;
  margin: 0;
}

.tool-items-layout{
  padding:0;
  margin:0;
  background-color:inherit;
}

.tool-items-btn {
  margin: 0;
  background-color:transparent;  
}

.tool-items-btn:hover {  
  background-color: transparent;
  color: #BBBBBB;
}

.headName {
  font-size: 30px;
  margin-bottom: 5%; 
  margin-top: 5%;
}

#br_toolbar {
  background-color:transparent;
  width:100%;
  margin-top: 5%; 
  margin-bottom: 5%;
}

.br-list-items {
  margin-bottom: 5%;
  margin-top: 10%;
}

.v-list__tile__title {
  font-size: 3em;
  height: 52px;   
  line-height: 1em;
  text-indent: 3em;
  font-weight: 100;
}


.closer .list__tile .avatar, 
.closer .list__tile__action {
  min-width: 24px;
}

#componentsField {
  margin-top: 3%;
}
</style>