<template>
<v-card>
  <v-container grig-list-sm fluid>
    <v-layout align-center justify-space-around column fill-height>      
      <v-flex v-for="item in items" :key="item.name" d-flex>
        <v-card flat tile :to="{ name: 'event', params:{ name: item.name }}" style="min-width:800px">
          <v-img :src="item.src" :lazy-src="item.src"  aspect-ratio="2" class="grey lighten-2">
            <v-layout slot="placeholder" fill-height  align-center  justify-center ma-0>
              <v-progress-circular indeterminate color="grey lighten-5"></v-progress-circular>
            </v-layout>
          </v-img>
          <v-card-title primary-title>                    
                <h4 class="display-1 font-weight-thin font-italic">{{ item.name }}</h4>            
          </v-card-title>     
        </v-card>
      </v-flex>
    </v-layout>
  </v-container>
</v-card>
</template>
<script>
const axios = require('axios')
import * as CONFIG from '../config';

export default {
  created: function()  {
    this.loadData();
  },
  methods: {
    loadData: function()  {
      let url = CONFIG.SERVER_NAME + '/api/v1/tag/' + this.$route.params.tag;
      axios.get(url).then(response => (this.items = response.data));
    },
    setUrl: function(name)  {
      return '/event/' + name;
    }
  },
  computed: {
  },

  data()  {
    return {
      items: [],
      error: ''
    }
  }
}

</script>

<style>
</style>
