<template>
<v-card>
  <v-card-title primary-title>

    <v-layout row>
       <v-flex xs7>
       	<h4>{{ title }}</h4>
        <p class="about">{{ text }}</p>
      </v-flex>
      <v-flex xs5>
        <v-img :src="src" ></v-img>
      </v-flex>    
  </v-layout>
  </v-card-title>
</v-card>
</template>
<script>
export default {
	data() {
		return {
			title: 'blablabla',
			text:'Товарищи! сложившаяся структура организации представляет собой интересный эксперимент проверки направлений прогрессивного развития. Идейные соображения высшего порядка, а также рамки и место обучения кадров обеспечивает широкому кругу (специалистов) участие в формировании новых предложений. Повседневная практика показывает, что укрепление и развитие структуры обеспечивает широкому кругу (специалистов) участие в формировании дальнейших направлений развития.Повседневная практика показывает, что реализация намеченных плановых заданий в значительной степени обуславливает создание модели развития. Идейные соображения высшего порядка, а также дальнейшее развитие различных форм деятельности позволяет оценить значение новых предложений.',
			src: "https://scontent.fhel3-1.fna.fbcdn.net/v/t1.0-9/26231480_10210463295125825_3958654509829094564_n.jpg?_nc_cat=103&oh=ec278dad3971ad069acdafae04078518&oe=5C52D6CA"
		}
	}
}
</script>


