<template>
<v-card>
  <v-container fluid grid-list-md>
    <v-layout align-center justify-center column fill-height xs12>
      <v-flex v-for="image in images" :key="image.src" class="mb-2">
      <v-card flat>
         <v-responsive :aspect-ratio="3/3">    
           <v-img :src="setPath(image.src)" :lazy-src="setPath(image.src)" :style="calcImageSize"></v-img>            
        </v-responsive>
    </v-card>
      </v-flex>
    </v-layout>
  </v-container>
</v-card>
</template>
<script>
const axios = require('axios');
import * as CONFIG from '../config';

export default
{
  created: function(){
    this.loadData();
  },

  computed: {
    calcImageSize: function(){
      return { width: ( this.isMobile ? 0.8 : 0.6 ) * window.innerWidth + 'px',
               //height: 'px'
      };
    }
  },
  
  beforeDestroy: function(){
    if (typeof window !== 'undefined') {
      window.removeEventListener('resize', this.onResize, { passive: true })
    }
  },
  
  mounted: function() {
        this.onResize()
        window.addEventListener('resize', this.onResize, { passive: true })
  },

  data()
  {
    return {
      images: [],
      width: 300,
      isMobile: false
    }
  },

  methods: {

    onResize: function() {
           this.isMobile = window.innerWidth < 990;
           //console.log(window.innerWidth +':' + this.isMobile);     
    },

    loadData: function(){
      let url = CONFIG.SERVER_NAME + "/api/v1/event/" + this.$route.params.name;
      axios.get(url).then(response => (this.images = response.data));
    },

    setPath: function(path){
      return '/static/' + path;
    }
  }
}
</script>
<style>
</style>
