<template>
<v-dialog v-model="dialog" persistent hide-overlay fullscreen transition="dialog-top-transition">
  <v-card>
    <v-toolbar color="primary">
      <v-spacer></v-spacer>
      <v-btn icon @click.native="closeCarousel">
        <v-icon large>mdi-close-circle-outline</v-icon>
      </v-btn>
    </v-toolbar>
    <v-card-media>
      <v-layout align-center justify-center fill-height>
    <v-carousel  delimiter-icon="mdi-checkbox-blank-circle-outline" :style="styleImage" prev-icon="mdi-arrow-left-bold-circle-outline"
                next-icon="mdi-arrow-right-bold-circle-outline">
      <v-carousel-item v-for="(image, i) in images"
                       :key="i"
                       :src="setSrc(image.src)">
      </v-carousel-item>
    </v-carousel>
  </v-layout>
</v-card-media>
  </v-card>
</v-dialog>
</template>
<script>
export default {
  
  props: {

    images: {
      type: Array,
      default: [],      
    }
  },
   
  mounted: function() {
        this.onResize()
        window.addEventListener('resize', this.onResize, { passive: true })
    },
    
  computed: {
    styleImage: function(){
      return {
          height: this.isMobile ? window.innerHeight * 0.75 + 'px' : '800px',
          width: this.isMobile ? window.innerWidth + 'px' : '75%'
          //minHeight: this.isMobile ? window.innerHeight + 'px': '400px'
       }
      }
    },

  methods:{
  
    onResize: function() {
           this.isMobile = window.innerWidth < 990;
           console.log(window.innerWidth +':' + this.isMobile);
         },

    setSrc: function(src){
      return '/static/' + src;
    },

    closeCarousel: function(){      
      this.$router.go(-1);
      //this.dialog = false;
    }
  },

  data()
  {
    return {
      dialog: true,
      isMobile: false
    }
  }
}
</script>
<style>
.photo_carousel {
  max-width: 800px;
  bacground-color:red;
}

</style>