<template :style="heightTemplate">
  <transition name="fade" 
              appear       
              v-on:after-leave="afterLeave"    
              v-on:after-enter="afterEnter">

    <v-img v-show="show" :src="images[index].src" aspect-ratio="2.0" :style="heightImage"/>
  </transition>
</template>
<script>

export default
{
  
  computed: {
    heightTemplate: function(){
      return {
        height: this.isMobile ? '100%': null
      }
    },
    heightImage: function(){
      return {
        height: this.isMobile ? window.innerHeight +'px': null
      }
    }
  },
  
  created: function(){
    //this.width = screen.width;
    //console.log(screen.height);
    //console.log(CONFIG);
  },
  
  mounted: function() {
        this.onResize()
        window.addEventListener('resize', this.onResize, { passive: true })
    },
    
  methods: {
        onResize: function() {
           this.isMobile = window.innerWidth < 990;
           //console.log(window.innerWidth +':' + this.isMobile);
     },
        afterLeave: function (el) {
          this.show =  true;
          if( this.index == (this.images.lenght -1)){ 
              this.index = 0;
           } else {
              this.index += 1;
           }        
        },
        afterEnter: function(el){
          this.show = false;      
        }
   },
  
  watch: {
    isMobile: function(v){
      console.log(v);
    }
   },
  
  beforeDestroy: function(){
    if (typeof window !== 'undefined') {
      window.removeEventListener('resize', this.onResize, { passive: true })
    }
  },
  
  data() {
    return {
      isMobile: false,
      index: 0,
      show: true,
      images: [
      {
        src: 'https://scontent.fhel6-1.fna.fbcdn.net/v/t31.0-8/12247720_10205081463383395_7246621740360029675_o.jpg?_nc_cat=0&oh=f6535e8dd161c6ff8a3113c19019e290&oe=5C264F79'
      },
      {
        src: 'https://scontent.fhel6-1.fna.fbcdn.net/v/t31.0-8/12002584_10204873064613556_2552028338144562307_o.jpg?_nc_cat=0&oh=b0f9338d3a1f9244c1e4bf525b3a0047&oe=5C380192'
      },
      {
        src: 'https://scontent.fhel6-1.fna.fbcdn.net/v/t31.0-8/11416371_10204375675899149_8635974069733875409_o.jpg?_nc_cat=0&oh=11dc31d031368f41ea33a1cc7e0ff49a&oe=5BEEB737'
      },
      {
        src: 'https://scontent.fhel6-1.fna.fbcdn.net/v/t31.0-8/12238164_10205081461503348_8761714393248284843_o.jpg?_nc_cat=0&oh=32a1d9df3e60584fcf4471bdfeddae14&oe=5C21A786'
      },
      {
        src: 'https://scontent.fhel6-1.fna.fbcdn.net/v/t1.0-9/310576_2114913639578_587067860_n.jpg?_nc_cat=0&oh=778501b6d5c73314135a8e268c9a375d&oe=5C32B05A'
      }]
    }
  }
}

</script>
<style>

.fade-enter-active {
  transition: opacity 5s;  
}
.fade-leave-active {
  transition: opacity 3s;
}

.fade-enter, .fade-leave-to /* .fade-leave-active до версии 2.1.8 */ {
  opacity: 0;  
}
</style>