<!DOCTYPE html>
<html lang="en">
  <head>  	
    <meta charset="utf-8"> 
    <link href="{{ url_for('static', filename='css/materialdesignicons.min.css') }}" media="all" rel="stylesheet" type="text/css" />   
    <title>frontend</title>   
  </head>
  <body>
    <div id="app"></div>
    <script src="{{ url_for('static', filename='js/build.min.js') }}"></script>
  </body>
</html>
 